@model MyCommunity.Webbapp.ViewModels.MessageSendViewModel
@{
    ViewBag.Title = "Send messages page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm("SendPersonalMessage", "SendMessages", FormMethod.Post,
                                                                new { enctype = "multipart/form-data", @class = "form-inline" }))
    {

        <div class="form-group">
            <label class="sr-only" for="gadgetTitle">Title</label>
            <input type="text" class="form-control" name="MessageTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label class="sr-only" for="gadgetName">Message Body</label>
            <input type="text" class="form-control" name="MessageBody" placeholder="Message">
        </div>
        <div class="form-group">
           @Html.DropDownListFor(m => m.Id, Model.UserList)
            @Html.ValidationMessageFor(m => m.Id)
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    }
    @{var successMessage = TempData["successMessage"]; }
    @if (successMessage != null)
    {
        <div>
            @successMessage
        </div>
    }

</body>
</html>