@model MyCommunity.Webbapp.ViewModels.MessageSendViewModel
@{
    ViewBag.Title = "Send messages page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
