@model IEnumerable<MyCommunity.Webbapp.ViewModels.MessageViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewUserMessages</title>
</head>
<body>

</body>
</html>